html, body {
	margin:				0;
	font-family: 		'Oswald', sans-serif;
	height: 			100%;
	background-color: #fff;
}

.title-bar {
	top: 0;
	left: 0px;
	width: 100%;
	background-color: #303e49;
	position: fixed;	
	z-index: 999;
	opacity: 0;
	height: 60px;
	overflow: hidden;
}

.title-bar button {
	float:left;
}

.title-bar h2 {
	color: #FFF;
}

.header {
	width: 				100%;
	height: 			100%;
    position: 			relative;
	font-size:			6vw;
	color:				#FFF;
	display: 			block;
}

.header:before {
	content: 			' ';
    display: 			block;
    position: 			absolute;
    left: 				0;
    top: 				0;
    width: 				100%;
    height: 			100%;
    z-index: 			1;
    opacity: 			0.15;
   
}

.header p {
    top: 				50%;
    left: 				50%;
	margin: 			0;
    position: 			absolute;
    transform: 			translate(-50%, -50%);
    margin-right: 		-50%;
	border-style: 		solid;
	padding:			2vw;
	border-width: 		1vw;
	border-color:		#F9F9F9;
	text-align: 		center;	
	font-size: 			9vw;
	color:				#FFF;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.page-title {
    margin: 0;
    color: #fff;
    text-align: center;
}

.colored-page-title {
    color: #303e49;
}

.footer {
    padding: 1%;
    padding-top: 5%;
    padding-left: 5%;
    margin-top: 10%;
}

.footer p, .footer a {
    color: #D3D3D3;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3vw;
}

p.footer-title {
    font-size: 4vw;
}

.footer a:hover {    
	border-bottom: 2px solid #D3D3D3;
}

.page {
	background-color:  #fff;
	width: 				100%;
    position: 			relative;
	font-size:			6vw;
	color:				#303e49;
	display: 			block;
}

div.copyright {
    padding: 1%;
    background-color: #253038;
}

div.copyright p{
    margin: 0;
    color: #959EA6;
    font-size: 2vw;
    text-align: center;
}

.full-page {
	height: 			100%;
}

.colored-page {
	background-color:  #303e49;
}

@media screen and (max-width: 55.1875em){

  .header p {
	transition: all 0.5s ease;
	font-size: 20vw;
  }
  
  .title-bar {
	opacity: 1;
  }
  
}
/*########################################################*/
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 29px;
  left: 18px;
  right: 18px;
  height: 6px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -10px;
}

.cmn-toggle-switch span::after {
  bottom: -10px;
}


/**
 * Style 3
 *
 * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
 * arrow. Usually indicates an off canvas menu sliding in from left that
 * will be close on re-click of the icon.
 */
.cmn-toggle-switch__htla {
  background-color: #303e49;
}

.cmn-toggle-switch__htla span {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.cmn-toggle-switch__htla span::before {
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
          transition: transform 0.3s, width 0.3s, top 0.3s;
}

.cmn-toggle-switch__htla span::after {
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
          transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htla.active {
  background-color: #1A232B;
}

.cmn-toggle-switch__htla.active span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cmn-toggle-switch__htla.active span::before,
.cmn-toggle-switch__htla.active span::after {
  width: 50%;
  
  left: -23px;
}

.cmn-toggle-switch__htla.active span::before {
  top: 0;
  -webkit-transform: translateX(42px) translateY(3px) rotate(45deg);
      -ms-transform: translateX(42px) translateY(3px) rotate(45deg);
          transform: translateX(42px) translateY(3px) rotate(45deg);
}

.cmn-toggle-switch__htla.active span::after {
  bottom: 0;
  -webkit-transform: translateX(42px) translateY(-3px) rotate(-45deg);
      -ms-transform: translateX(42px) translateY(-3px) rotate(-45deg);
          transform: translateX(42px) translateY(-3px) rotate(-45deg);
}

/**GRID*/
.wrap {
   overflow: hidden;
   margin: 10px;
}
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: absolute;
   bottom: 43px;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   font-size: 36px;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}


@media only screen and (min-width: 1170px) {
    p.footer-title {
        font-size: 1.5vw;
    }
    .footer p, .footer a {
        font-size: 1vw;
    }
    
    div.copyright p{
        font-size: 0.7vw;
    }
}